@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- 网页内容部分 -->
<div class="body">
    <!-- 轮播图部分 -->
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- 轮播图片 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Resource/images/shuffling_1.png">
                <div class="carousel-caption">
                    <h3>无限宝石一宇宙魔方</h3>
                    <p>宇宙魔方是漫威宇宙中六颗无限宝石之一</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Resource/images/shuffling_2.png">
                <div class="carousel-caption">
                    <h3>星球大战科幻电影</h3>
                    <p>中文可简称星战是美国科幻电影</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/Resource/images/shuffling_3.png">
                <div class="carousel-caption">
                    <h3>古希腊传说</h3>
                    <p>希腊神话是原始氏族社会的精神产物</p>
                </div>
            </div>
        </div>
        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <hr />
    <!-- 轮播图下内容1部分 -->
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 news" style="background-color:lavender;">
            <ul>
                <h6>
                    更小文本标题
                    <span class="float-right">
                        <a href="#" style="font-size: 8px; margin-right: 45px; color: salmon">更多>></a>
                    </span>
                </h6>
                <li><a href="#">夕阳斜映旧阙燕云处故人诀</a></li>
                <li><a href="#">魏宫夜醉明月缨袖接衣冠雪</a></li>
                <li><a href="#">流火逝铜雀血影曾照战于野</a></li>
                <li><a href="#">祭樽前前缘灭缘灭时时亦绝</a></li>
                <li><a href="#">衣留香美名卓终不悔汉家魄</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 news" style="background-color:lavenderblush;">
            <ul>
                <h6>
                    更小文本标题
                    <span class="float-right">
                        <a href="#" style="font-size: 8px; margin-right: 45px; color: salmon">更多>></a>
                    </span>
                </h6>
                <li><a href="#">夕阳斜映旧阙燕云处故人诀</a></li>
                <li><a href="#">魏宫夜醉明月缨袖接衣冠雪</a></li>
                <li><a href="#">流火逝铜雀血影曾照战于野</a></li>
                <li><a href="#">祭樽前前缘灭缘灭时时亦绝</a></li>
                <li><a href="#">衣留香美名卓终不悔汉家魄</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 news" style="background-color:lavender;">
            <ul>
                <h6>
                    更小文本标题
                    <span class="float-right">
                        <a href="#" style="font-size: 8px; margin-right: 45px; color: salmon">更多>></a>
                    </span>
                </h6>
                <li><a href="#">夕阳斜映旧阙燕云处故人诀</a></li>
                <li><a href="#">魏宫夜醉明月缨袖接衣冠雪</a></li>
                <li><a href="#">流火逝铜雀血影曾照战于野</a></li>
                <li><a href="#">祭樽前前缘灭缘灭时时亦绝</a></li>
                <li><a href="#">衣留香美名卓终不悔汉家魄</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 news" style="background-color:lavenderblush;">
            <ul>
                <h6>
                    更小文本标题
                    <span class="float-right">
                        <a href="#" style="font-size: 8px; margin-right: 45px; color: salmon">更多>></a>
                    </span>
                </h6>
                <li><a href="#">夕阳斜映旧阙燕云处故人诀</a></li>
                <li><a href="#">魏宫夜醉明月缨袖接衣冠雪</a></li>
                <li><a href="#">流火逝铜雀血影曾照战于野</a></li>
                <li><a href="#">祭樽前前缘灭缘灭时时亦绝</a></li>
                <li><a href="#">衣留香美名卓终不悔汉家魄</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 news" style="background-color:lavenderblush;">
            <ul>
                <h6>
                    更小文本标题
                    <span class="float-right">
                        <a href="#" style="font-size: 8px; margin-right: 45px; color: salmon">更多>></a>
                    </span>
                </h6>
                <li><a href="#">夕阳斜映旧阙燕云处故人诀</a></li>
                <li><a href="#">魏宫夜醉明月缨袖接衣冠雪</a></li>
                <li><a href="#">流火逝铜雀血影曾照战于野</a></li>
                <li><a href="#">祭樽前前缘灭缘灭时时亦绝</a></li>
                <li><a href="#">衣留香美名卓终不悔汉家魄</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 news" style="background-color:lavenderblush;">
            <ul>
                <h6>
                    更小文本标题
                    <span class="float-right">
                        <a href="#" style="font-size: 8px; margin-right: 45px; color: salmon">更多>></a>
                    </span>
                </h6>
                <li><a href="#">夕阳斜映旧阙燕云处故人诀</a></li>
                <li><a href="#">魏宫夜醉明月缨袖接衣冠雪</a></li>
                <li><a href="#">流火逝铜雀血影曾照战于野</a></li>
                <li><a href="#">祭樽前前缘灭缘灭时时亦绝</a></li>
                <li><a href="#">衣留香美名卓终不悔汉家魄</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <!-- 轮播图下内容2部分 -->
    <div class="row news-2">
        <div class="col-sm-3" style="background-color:lavender;">
            <ul>
                <h6>
                    更小文本标题
                    <span class="float-right">
                        <a href="#" style="font-size: 8px; margin-right: 45px; color: salmon">更多>></a>
                    </span>
                </h6>
                <li><a href="#">夕阳斜映旧阙燕云处故人诀</a></li>
                <li><a href="#">魏宫夜醉明月缨袖接衣冠雪</a></li>
                <li><a href="#">流火逝铜雀血影曾照战于野</a></li>
                <li><a href="#">祭樽前前缘灭缘灭时时亦绝</a></li>
                <li><a href="#">衣留香美名卓终不悔汉家魄</a></li>
            </ul>
        </div>
        <div class="col-sm-3" style="background-color:lavenderblush;">
            <ul>
                <h6>
                    更小文本标题
                    <span class="float-right">
                        <a href="#" style="font-size: 8px; margin-right: 45px; color: salmon">更多>></a>
                    </span>
                </h6>
                <li><a href="#">夕阳斜映旧阙燕云处故人诀</a></li>
                <li><a href="#">魏宫夜醉明月缨袖接衣冠雪</a></li>
                <li><a href="#">流火逝铜雀血影曾照战于野</a></li>
                <li><a href="#">祭樽前前缘灭缘灭时时亦绝</a></li>
                <li><a href="#">衣留香美名卓终不悔汉家魄</a></li>
            </ul>
        </div>
        <div class="col-sm-3" style="background-color:lavender;">
            <ul>
                <h6>
                    更小文本标题
                    <span class="float-right">
                        <a href="#" style="font-size: 8px; margin-right: 45px; color: salmon">更多>></a>
                    </span>
                </h6>
                <li><a href="#">夕阳斜映旧阙燕云处故人诀</a></li>
                <li><a href="#">魏宫夜醉明月缨袖接衣冠雪</a></li>
                <li><a href="#">流火逝铜雀血影曾照战于野</a></li>
                <li><a href="#">祭樽前前缘灭缘灭时时亦绝</a></li>
                <li><a href="#">衣留香美名卓终不悔汉家魄</a></li>
            </ul>
        </div>
        <div class="col-sm-3" style="background-color:lavenderblush;">
            <ul>
                <h6>
                    更小文本标题
                    <span class="float-right">
                        <a href="#" style="font-size: 8px; margin-right: 45px; color: salmon">更多>></a>
                    </span>
                </h6>
                <li><a href="#">夕阳斜映旧阙燕云处故人诀</a></li>
                <li><a href="#">魏宫夜醉明月缨袖接衣冠雪</a></li>
                <li><a href="#">流火逝铜雀血影曾照战于野</a></li>
                <li><a href="#">祭樽前前缘灭缘灭时时亦绝</a></li>
                <li><a href="#">衣留香美名卓终不悔汉家魄</a></li>
            </ul>
        </div>
    </div>
    <hr />
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <!-- 猜你喜欢 -->
        <div class="youlike">
            <span style="display: inline-block;">猜你喜欢：</span>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="#">月冷龙沙，尘清虎落，今年汉 初赐。新翻胡部曲，听毡幕元戎歌吹。玉梯凝望久，但芳草萋萋千里。天涯情味，仗酒祓清愁，花消英气。</a>
                </div>
                <div class="carousel-item">
                    <a href="#">玉梯凝望久，但芳草萋萋千里。天涯情味，仗酒祓清愁，花消英气。月冷龙沙，尘清虎落，今年汉 初赐。新翻胡部曲，听毡幕元戎歌吹。</a>
                </div>
                <div class="carousel-item">
                    <a href="#">淳熙丙午冬，武昌安远楼成，与刘去非诸友落之，度曲见志。玉梯凝望久，但芳草萋萋千里。天涯情味，仗酒祓清愁，花消英气。</a>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <!-- 链接列表项 -->
    <h5>不对人说的秘密</h5>
    <div class="list-group" style="width: 100%;">
        <a href="#" data-toggle="tooltip" data-placement="top" title="点击窥探人格本源..." class="list-group-item list-group-item-action">第一人格搜索</a>
        <a href="#" data-toggle="tooltip" data-placement="top" title="点击找回丢失人格..." class="list-group-item list-group-item-action">丢失人格找回</a>
        <a href="#" data-toggle="tooltip" data-placement="top" title="点击窥探相同人类..." class="list-group-item list-group-item-action">查找和我相同</a>
    </div>
</div>