@{
    ViewBag.Title = "news";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- 内容部分 -->
<div class="body">
    <!-- 内容部分[首则新闻部分] -->
    <h2>CAZW今日大事件</h2>
    <p>任正非表示，华为的增长预计会放缓，但影响有限，营收增长年率预计低于20%：</p><br>
    <!-- 头部 -->
    <div class="media">
        <img src="~/Resource/images/renzhengfei.png" class="align-self-start mr-3" style="width:260px; height: 156px;">
        <div class="media-body">
            <h4>美禁令后任正非首次发声:美国封锁对华为影响不大</h4>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任正非表示，华为的增长预计会放缓，但影响有限，营收增长年率预计低于20%。2014-2018年间，
                华为销售收入的年均复合增长率为26%。<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5月18日，在接受日经新闻采访时，任正非表示，受到美国禁令的影响，华为的增长预计会放缓，
                但影响有限，营收增长年率预计低于20%。2014-2018年间，华为销售收入的复合年均增长率为26%。<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;这是美国“封锁华为”后，任正非首次接受媒体采访。5月15日，美国商务部下属工业和安全局宣布将把华为列
                入“实体清单”，清单上的企业或个人购买或通过转让获得美国技术需获得有关许可。<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果美国认为技术的销售或转让危害美国国家安全或外交政策利益，则会拒绝颁发许可。<br />
                任正非还对日媒称，华为“从未做过任何触犯法律的事情”，美国供应商不能向华为提供芯片“也好”，
                “我们已经为此做准备了”。<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;任正非建议，通过集团下属的海思半导体推进独立开发。5月17日周五，华为子公司深圳市海思总裁何庭
                波向员工群发邮件，称华为面对美国打压，将启用多年来自主研发的芯片“备胎”，实现“科技自立”。<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用何庭波的话说，海思的任务是为华为的生存打造“备胎”。华为早在多年前就做出了极限生存的假设，
                预计有一天，所有美国的先进芯片和技术将不可获得。“所有我们曾经打造的备胎，一夜之间全部转“正”！”，<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;华为去年11月披露的92家核心供应商名单显示，美国供应商有33家入选，大陆供应商数量位于第二，有25家。
                华为发言人Chase Skinner今年早些时候曾表示，华为每年向美国采购110亿美元的产品。<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;21世纪经济报道援引半导体产业链人士消息称，华为已经在核心部件上有半年至一年左右的库存。
                去年以来，华为就有所准备，提前做好库存来应对今年的挑战，备胎策略也能为华为抵御部分风险。<br />
        </div>

    </div>

    <!-- 链接列表项 -->
    <h5>CAZW事件推荐</h5>
    <div class="list-group" style="width: 100%;">
        <a href="#" data-toggle="tooltip" data-placement="top" title="点击窥探人格本源..." class="list-group-item list-group-item-action">玻利维亚左翼总统开启第四任期竞选活动，曾指责美国干涉内政</a>
        <a href="#" data-toggle="tooltip" data-placement="top" title="点击找回丢失人格..." class="list-group-item list-group-item-action">东方明珠布局智慧城市物联网 应对万亿级超高清产业风口</a>
        <a href="#" data-toggle="tooltip" data-placement="top" title="点击窥探相同人类..." class="list-group-item list-group-item-action">赵克志凭吊在我国驻南联盟使馆被炸事件中牺牲的烈士</a>
    </div>
</div>