@{
    ViewBag.Title = "search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- 网页内容部分 -->
<div class="body">
    <form>
        <div class="form-group">
            <label for="email" style="float: left; margin-top: 20px; margin-left: 25%;">查我所查:</label>
            <input style="width: 40%; float: left; margin-top: 15px; margin-left: 20px;" type="email" class="form-control" id="email" placeholder="输入关键字进行查询">
            <button style="float: left; margin-top: 15px; margin-left: 10px;" type="submit" class="btn btn-primary">搜索</button>
            <div class="clearfix"></div>
        </div>
    </form>

    <div class="news-list">
        <label for="email" style="align:center;">为你查询到的内容:</label>
        <hr />
        <a href="#">第一条</a>
        <hr />
        <a href="#">第二条</a>
        <hr />
        <a href="#">第三条</a>
        <hr />
        <a href="#">第四条</a>
        <hr />
        <a href="#">第五条</a>
        <hr />
        <a href="#">第六条</a>
        <hr />
        <a href="#">第七条</a>
        <hr />
    </div>
</div>